.food-image, .main-image {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.food-image {
    width: 600px;
}

.main-image {
    width: 450px;
}

body {
    background-color: lightgray;
    font-family: sans-serif;
}
ul {
    list-style-type: none;
}
ul, ol {
    list-style-position: inside;
}

h1, h2, p {
    text-align: center;
}

.content {
    width: 75%;
    margin: 0 auto;
}

li {
    text-align: center;
    padding: 5px;
}

.content ol li, .content ul li {
    text-align: left;
    padding: 10px;
}